.grid-1{
	background-color: #e09200;
}
.grid-1 a{
	color: #e09200 !important;
}
.grid-2{
	background-color: #008c8c;
}
.grid-2 a{
  color: #008c8c !important;
}
.grid-3{
	background-color: #004242;
}
.grid-3 a{
  color: #004242 !important;
}
h3{
	text-transform: uppercase;
	padding: 24px 0px 15px 0px;
	color: rgba(255,255,255,0.9);
	font-size: 30px;
	letter-spacing: -2px;
}
p{
	color: rgba(255,255,255,0.7);
	letter-spacing: 0.005em;
}
a{
	border-radius: 50px !important;
	letter-spacing: 0.005em;
}
.container{
 max-width:900px;
 margin: auto;
}